.products {
  height: 1000px;
}

.section-title h2::before {
  width: 310px;
}

@media ( max-width: 991px ) {
  .col-50 {
    width: 100%;
  }
}

@media ( max-width: 767px ) {
}

@media ( max-width: 575px ) {
}
