<section class='about'>
  <div class='container'>

    <div class='row'>
      <div class='section-title'>
        <h2>quienes somos</h2>
      </div> 
    </div>

    <div class='row'>
      <div class='about-content'>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque justo nibh, bibendum sed metus dignissim, pharetra gravida nunc. Aenean blandit felis ante, eget dapibus enim ultricies a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer odio diam, consequat vitae vehicula ac, dapibus eu sem. Proin id leo facilisis, dictum justo et, facilisis purus. In faucibus eleifend tristique. Pellentesque tincidunt blandit diam fermentum rhoncus. Nam nunc libero, fermentum ut condimentum quis, porta sit amet arcu. Morbi egestas sem nec sapien facilisis vehicula. Nullam suscipit libero ut turpis finibus, in mattis metus vehicula. Cras pharetra enim a nisi pretium molestie. Donec laoreet aliquam risus non tincidunt. Morbi mattis fermentum sem non ultricies.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque justo nibh, bibendum sed metus dignissim, pharetra gravida nunc. Aenean blandit felis ante, eget dapibus enim ultricies a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer odio diam, consequat vitae vehicula ac, dapibus eu sem. Proin id leo facilisis, dictum justo et, facilisis purus. In faucibus eleifend tristique. Pellentesque tincidunt blandit diam fermentum rhoncus. Nam nunc libero, fermentum ut condimentum quis, porta sit amet arcu. Morbi egestas sem nec sapien facilisis vehicula. Nullam suscipit libero ut turpis finibus, in mattis metus vehicula. Cras pharetra enim a nisi pretium molestie. Donec laoreet aliquam risus non tincidunt. Morbi mattis fermentum sem non ultricies.
        </p>
      </div>
    </div>

  </div>
</section>

