.section-title {
  margin-bottom: 30px;
}

.about {
  margin: 60px 80px;
}

.about-content p {
  padding-bottom: 30px;
  line-height: 25px;
}

@media ( max-width: 991px ) {
}

@media ( max-width: 767px ) {
  .about {
    margin: 30px;
  }
}

@media ( max-width: 575px ) {
}

