footer {
  bottom: 0;
  background-color: var( --main-color );;
  height: 156px;
  z-index: 99;
}

footer .container {
  height: 100%;
}

footer .social-icons {
  padding: 20px 100px 20px;
}

footer .social-item {
  text-align: center;
  cursor: pointer;
}

footer .social-item h3 {
  font-size: 25px;
  font-weight: bold;
  line-height: 32px;
  color: var( --back-color );
}

footer .social-item p {
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
  color: var( --back-color );
}

footer .social-item i {
  font-size: 40px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 7px;
  color: var( --back-color );
  transition: all 0.3s ease;
}

footer .social-item:hover i {
  transform: scale( 1.1 );
}

